#head-component {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    // background-color: grey;
    background-image: "../../images/bg.svg"
}

#head-display {
    align-content: center;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.text-gradient {
    background: linear-gradient(to right, #6849e3, #00BCD3);
    color: transparent;
    background-clip: text;
    justify-content: space-between;
    align-items: stretch;
}

.text-transform {
    padding: 15px;
    transform: rotate(20deg);
}

#discount {
    color: red;
    margin-left: 10px;
}

#pricebox {
    display: flex;
    justify-content: center;
}

#product-image {
    max-width: 50%;
}

#sort {
    display: flex;
    justify-content: space-between;
}

#sort span {
    color: blueviolet;
}

#blue {
    background-color: #00BCD3;
}

#red {
    background-color: #EF5350;
}

#gold {
    background-color: #FEC109;
} 

#brown {
    background-color: #AF806E
} 

#mediumgrey {

    background-color: #CDCDCD
} 

#navy {
    background-color: #2F3676;
} 

#yellow {
    background-color: #FEC109;
} 

#darkwash {
    background-color: #2F3676
} 

#lightwash {
    background-color: #00BCD3
} 